:root {
    --outer-padding: 10px;
}

* {
    box-sizing: border-box;
    font-family: 'Inconsolata', sans-serif;
}

html,
body,
#app {
    height: 100%;
    font-size: 16px;
}

body {
    margin: 0;
}

h1 {
    font-size: 1em;
    font-weight: normal;;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}


ul {
    margin: 0;
    padding-inline-start: 0;
}

ul li {
    position: relative;
    list-style: none;
}

ul li.sketch.active::before,
ul li.sketch:hover::before {
    position: absolute;
    top: -.1em;
    left: 0;
    content: '\021B3';
}

ul li.spacer {
    opacity: 0;
}

#app {
    display: flex;
}

#index {
    position: relative;
    padding: var(--outer-padding);
    flex: 1; 
}

#generatedAt {
    position: absolute;
    bottom: var(--outer-padding);
    right: var(--outer-padding);
    font-size: 0.6em;
    text-align: right;
}

.reload {
    position: relative;
    user-select: none;
}

.reload::before {
    --tolerance: -10px;
    
    position: absolute;
    top: var(--tolerance);
    right: var(--tolerance);
    bottom: var(--tolerance);
    left: var(--tolerance);
    content: " "; /* for debugging */
}

.reload::after {
    content: '\021bb';
    font-size: 1.5em;
}

#copyright {
    font-size: .8em;
}

iframe {
    height: calc(100vh);
    width: calc(100vh);
    padding: var(--outer-padding);
    border: none;
}

/*
large
*/
@media (min-aspect-ratio: 20/16) {
    /*body {
        background: red;
    }*/
}


/*
mobile
*/
@media (max-aspect-ratio: 20/16) {
    #app {
        flex-direction: column;
    }

    #index {
        order: 2;
    }

    #detail {
        order: 1;
    }

    iframe {
        height: calc(100vw);
        width: calc(100vw);
    }

    /*
    weird in-between
    */
    @media (min-aspect-ratio: 2/3) {
        iframe {
            height: calc(67vh);
            width: calc(100vw);
        }
    }    
}